#restaurant-search-results {
    display: none;
}

#search-results {
    background-color: white;
    padding-top:0%;
}

.search-result {
    width: 100%;
    padding: 2%;
    border-bottom: 1px solid #A5B7AD;
    overflow: auto;
}

.search-result img {
    float: left;
    width: 15%;
    border-radius: 10px;
    margin: 2%;
}

.restaurant-name {
    font-weight: bold;
    float: left;
    width: 70%;
    margin-top: 2%;
}

.restaurant-location {
    font-size: .7em;
    float: left;
}

.favourite {
    width: 5%;
    float:right;
}
